.wrapper {
  position: relative;
}

.rating {
  display: flex;

  li {
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: none;

      svg {
        stroke: rgb(0 0 0 / 70%);
      }
    }
  }

  li:last-of-type svg {
    padding-right: 0;
  }
}

.star {
  padding-right: 5px;
  box-sizing: content-box;
  color: #e2e2e2;

  &.filled {
    color: var(--color-primary);
  }

  &.editable {
    cursor: pointer;
  }
}

.errorWrapper {
  svg {
    stroke: var(--color-red);
  }
}

.error {
  position: absolute;
  bottom: -20px;
  white-space: nowrap;
  color: var(--color-red);
}
