.wrapper {
  display: grid;
  grid-template-areas:
    ". h h ."
    ". m m ."
    "f f f f";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  padding-top: rem-calc(33);
  min-height: 100vh;
  gap: 0 rem-calc(30);
}

.header {
  display: none;
  grid-area: h;
}

.main {
  display: grid;
  grid-area: m;
  grid-template-areas: "s c";
  grid-template-columns: rem-calc(230) minmax(320px, 1200px);
  gap: 30px;
}

.sidebar {
  grid-area: s;
}

.content {
  grid-area: c;
  outline: none;
}

.footer {
  grid-area: f;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-areas: "h" "m" "f";
    grid-template-columns: minmax(320px, 1fr);
    padding-top: 0;
  }

  .main {
    grid-template-areas: "c";
    grid-template-columns: 1fr;
    padding: 0 15px;
    gap: 0;
  }

  .sidebar {
    display: none;
  }

  .header {
    display: block;
  }
}

.skip {
  position: fixed;
  left: 100px;
  top: -100%;
  display: block;
  overflow: hidden;
  outline: none;
  padding: 10px;
  height: 0;
  color: var(--color-white);
  background: var(--color-primary);
  transition: 0.3s ease;

  &.displayed {
    top: 0;
    height: fit-content;
  }
}
