.wrapper {
  padding-top: rem-calc(33);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  gap: 0 rem-calc(30);
  min-height: 100vh;
  grid-template-areas:
          ". h h ."
          ". m m ."
          "f f f f";
}

.header {
  display: none;
  grid-area: h;
}

.main {
  grid-area: m;
  display: grid;
  grid-template-areas: "s c";
  grid-template-columns: rem-calc(230) minmax(320px, 1200px);
  gap: 30px;
}

.sidebar {
  grid-area: s;
}

.content {
  grid-area: c;
  outline: none;
}

.footer {
  grid-area: f;
}

@media (max-width: 768px) {
  .wrapper {
    padding-top: 0;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas: "h" "m" "f";
  }

  .main {
    grid-template-columns: 1fr;
    grid-template-areas: "c";
    padding: 0 15px;
    gap: 0;
  }

  .sidebar {
    display: none;
  }

  .header {
    display: block;
  }
}

.skip {
  display: block;
  position: fixed;
  top: -100%;
  left: 100px;
  overflow: hidden;
  height: 0;
  color: var(--color-white);
  background: var(--color-primary);
  outline: none;
  padding: 10px;
  transition: 0.3s ease;

  &.displayed {
    top: 0;
    height: fit-content;
  }
}