h1.title {
  font-weight: 500;
  font-size: rem-calc(26);
  line-height: rem-calc(35);
}

h2.title {
  font-weight: 500;
  font-size: rem-calc(22);
  line-height: rem-calc(30);
}

h3.title {
  font-weight: 700;
  font-size: rem-calc(20);
  line-height: rem-calc(27);
}