.textarea {
  display: block;
  padding: rem-calc(7) rem-calc(15);
  width: 100%;
  min-height: rem-calc(75);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  font-family: inherit;
  font-size: rem-calc(16);
  line-height: rem-calc(22);
  color: var(--color-black);
  background-color: var(--color-white);
  appearance: none;
  resize: none;

  &::placeholder {
    color: var(--color-placeholder);
  }

  &:focus {
    outline-color: var(--color-primary);
  }
}

.wrapper {
  position: relative;
  width: 100%;
}

.error {
  border: 1px solid var(--color-red);
}

.errorMessage {
  position: absolute;
  left: 0;
  bottom: -20px;
  color: var(--color-red);
}