.product {
  display: grid;
  grid-template-columns:
    [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px
    [creditstart] auto [creditend] 40px [ratestart] auto [rateend] auto [end];
  padding: 30px;
}

.logo {
  position: relative;
  grid-column: start / logoEnd;
  grid-row: 1 / span 2;
  width: 100%;
  height: 100%;
  min-width: 70px;
  min-height: 70px;
  max-width: 70px;
  max-height: 70px;

  img {
    border-radius: 5px;
  }
}

.title {
  align-self: end;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.title,
.tags {
  grid-column: titleStart / middle;
}

.tag {
  margin-top: 7px;
}

.price,
.credit {
  align-self: end;
  font-size: 20px;
  line-height: 27px;
  white-space: nowrap;
}

.price,
.priceTitle {
  display: flex;
  align-items: center;
  grid-column: priceStart / priceEnd;
}

.credit,
.creditTitle {
  grid-column: creditStart / creditEnd;
}

.rating {
  align-self: center;
}

.month {
  font-size: 14px;
  line-height: 19px;
}

.rating,
.rateTitle {
  grid-column: rateStart / end;
}

.priceTitle,
.rateTitle,
.creditTitle {
  align-self: start;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #535964;
}

.hr {
  grid-column: start / end;
}

.description {
  grid-column: start / end;
  margin-bottom: rem-calc(15);
  font-size: 16px;
  line-height: 24px;
}

.features {
  grid-column: start / middle;
}

.advantagesBlock {
  grid-column: middle / end;
  font-size: 16px;
  line-height: 22px;

  h6 {
    margin: 0 0 rem-calc(5);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
}

.advantages {
  margin-bottom: rem-calc(20);
  border-left: 2px solid var(--color-green);
  padding-left: rem-calc(15);
}

.disadvantages {
  border-left: 2px solid var(--color-red);
  padding-left: rem-calc(15);
}

.actions {
  display: flex;
  grid-column: start / end;
  gap: 20px;
}

.oldPrice {
  margin-left: 5px;
}

.chars {
  display: grid;
  align-items: baseline;
  grid-template-columns: auto 1fr auto;
  padding-right: rem-calc(60);
  font-size: 1rem;
  line-height: 2rem;
  gap: 10px;
}

.charsDots {
  margin-bottom: 5px;
  border-bottom: 1px dashed var(--color-lightgray);
  height: 20px;
}

@media (max-width: 1340px) {
  .product {
    grid-template-areas:
      "l . t t t t t"
      "l . tg tg tg tg tg"
      "p p p . c . r"
      "pt pt pt . ct . rt"
      "hr hr hr hr hr hr hr"
      "d d d d d d d"
      "f f f f f f f"
      "ad ad ad ad ad ad ad"
      "div div div div div div div"
      "act act act act act act act";
    grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
  }

  .logo {
    grid-area: l;
    margin-bottom: 20px;
  }

  .title {
    grid-area: t;
  }

  .tags {
    grid-area: tg;
  }

  .price {
    grid-area: p;
  }

  .credit {
    grid-area: c;
  }

  .rating {
    grid-area: r;
  }

  .priceTitle {
    grid-area: pt;
  }

  .creditTitle {
    grid-area: ct;
  }

  .rateTitle {
    grid-area: rt;

    a {
      color: var(--color-primary);
    }
  }

  .hr {
    grid-area: hr;
  }

  .description {
    grid-area: d;
  }

  .features {
    grid-area: f;
    margin-bottom: 20px;
  }

  .advantagesBlock {
    grid-area: ad;
  }

  .divider {
    grid-area: div;
  }

  .actions {
    grid-area: act;
  }
}

@media (max-width: 768px) {
  .product {
    grid-template-areas:
      "l . t"
      "l . tg"
      "pt pt p"
      "ct ct c"
      "rt rt r"
      "hr hr hr"
      "d d d"
      "f f f"
      "ad ad ad"
      "div div div"
      "act act act";
    grid-template-columns: 70px 30px 1fr;
  }

  .tags {
    margin-bottom: 20px;
  }

  .price,
  .credit,
  .rating {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .product {
    grid-template-areas:
      "l"
      "t"
      "tg"
      "p"
      "pt"
      "c"
      "ct"
      "r"
      "rt"
      "hr"
      "d"
      "f"
      "ad"
      "div"
      "act";
    grid-template-columns: 1fr;
  }
}

.review {
  overflow: hidden;
  margin-top: -15px;
  padding: 30px 30px 0;
}
