.input {
  padding: rem-calc(7) rem-calc(15);
  color: var(--color-black);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  font-family: inherit;
  font-size: rem-calc(16);
  line-height: rem-calc(22);
  background-color: var(--color-white);

  &::placeholder {
    color: var(--color-placeholder);
  }

  &:focus {
    outline-color: var(--color-primary);
  }
}

.inputWrapper {
  position: relative;
}

.error {
  border: 1px solid var(--color-red);
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--color-red);
}