.footer {
  padding: rem-calc(25) rem-calc(32);
  display: grid;
  align-items: center;
  gap: rem-calc(10) rem-calc(40);
  grid-template-columns: 1fr;
  min-height: rem-calc(72);
  color: var(--color-white);
  background-color: var(--color-primary);

  p,
  a {
    display: block;
    font-weight: 500;
    font-size: rem-calc(16);
    line-height: rem-calc(22);
    color: var(--color-white);
    transition: 0.3s ease-in-out;
  }

  a {
    &:hover {
      color: var(--color-lightgray);
    }
  }

  @include lg-block {
    grid-template-columns: 1fr auto auto;
  }
}